---
- name: Installer k3s (single node) si non présent
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="server --write-kubeconfig-mode=644" sh -
  args:
    creates: /usr/local/bin/k3s
  environment:
    K3S_KUBECONFIG_MODE: "644"

- name: S'assurer que le service k3s est démarré
  ansible.builtin.service:
    name: k3s
    state: started
    enabled: true

- name: Attendre que le node soit Ready
  ansible.builtin.shell: |
    kubectl get nodes --no-headers | grep -c " Ready"
  register: k3s_ready
  retries: 20
  delay: 6
  until: k3s_ready.rc == 0

- name: Créer un dossier local pour kubeconfig (sur le VPS)
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    mode: '0700'
    owner: root
    group: root

- name: Copier le kubeconfig k3s dans /root/.kube/config
  ansible.builtin.copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /root/.kube/config
    remote_src: true
    owner: root
    group: root
    mode: '0600'